
.navContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkSection {
  flex: 1;
  text-align: center;
  text-decoration: none;
}


.linkIcon {
  text-decoration: none;
  color: var(--text-color);
  font-size: 22px;
  font-family: 'Stylish', sans-serif;
  font-weight: bold;
}

.spacer {
  flex: 1;
}

.logoSection {
  flex: 4;
  text-align: left;
  padding-left: 20%;
  font-size: 40px;
  font-family: 'Stylish', sans-serif;
  color: var(--text-color);
}

.logoSection span {
  color: var(--accent-color);
}

@media screen and (max-width: 600px) {
  .linkSection {
    flex: 2;
  }

  .linkIcon {
    font-size: 14px;
  }

  .spacer {
    flex: 2;
  }

  .logoSection {
    padding: 0;
    font-size: 35px;
  }
}
