.container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.check {
  flex: 1;
}

.check:checked+p {
  text-decoration: line-through;
}

.taskText {
  flex: 9;
  text-align: left;
  padding: 2px;
  font-family: sans-serif;
  color: rgb(64, 63, 66);
}

.delButton {
  flex: 2;
  height: 20px;
  background-color: transparent;
  border: 0;
  color: blueviolet;
}

.delHide {
  flex: 2;
}